<div class="list-wrapper">
    <div class="list-container">
        <div class="spinner-container" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>       
        </div>
        <div class="no-results-container" *ngIf="!loading && data.length <= 0 && !error">
            <p>No operator found</p>
        </div>
        <div class="no-results-container" *ngIf="error">
            <mat-error>{{ error }}</mat-error>
        </div>
        <mat-nav-list>
            <mat-list-item *ngFor="let operator of data; let idx = index;">
                <mat-icon matListIcon>person</mat-icon>
                <h3 matLine> Operator #{{ pageIndex * pageSize + idx }} </h3>
                <p matLine>{{ operator.user.firstName }} {{ operator.user.lastName }}</p>
                <p matLine *ngIf="operator.description">{{ operator.description }}</p>
                <div class="current-session-container" *ngIf="operator.currentSession">
                    <mat-icon class="current-session-icon">phone_in_talk</mat-icon>
                    <p matLine>{{ operator.currentSession.specialist.firstName }} {{ operator.currentSession.specialist.lastName }}</p>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="paginator-container">
        <mat-paginator fixed
                    [length]="length"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25]"
                    (page)="pageEvent = $event; handlePageEvent($event);">
        </mat-paginator>
    </div>
</div>
